<div class="row">

	{{ form_start(form) }}

	{{ form_row(form.name) }}

	{{ form_row(form.picture) }}

	{{ form_row(form.content) }}

	<button class="btn">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
</div>
