{% extends 'base.html.twig' %}

{% block title %}Technos{% endblock %}

{% block body %}
    <h1>Technos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ techno.id }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ techno.picture }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ techno.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ techno.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('technos_index') }}">back to list</a>

    <a href="{{ path('technos_edit', {'id': techno.id}) }}">edit</a>

    {{ include('technos/_delete_form.html.twig') }}
{% endblock %}
