{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}
    <h1>Presentation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ presentation.id }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ presentation.address }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ presentation.content }}</td>
            </tr>
            <tr>
                <th>Git</th>
                <td>{{ presentation.git }}</td>
            </tr>
            <tr>
                <th>Linkedin</th>
                <td>{{ presentation.linkedin }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ presentation.title }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ presentation.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ presentation.phone }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ presentation.name }}</td>
            </tr>
            <tr>
                <th>Subtitle</th>
                <td>{{ presentation.subtitle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('presentation_index') }}">back to list</a>

    <a href="{{ path('presentation_edit', {'id': presentation.id}) }}">edit</a>

    {{ include('presentation/_delete_form.html.twig') }}
{% endblock %}
