{{ form_start(form) }}
<div class="input-field">
{{ form_label(form.name) }}
{{ form_widget(form.name) }}
</div>
<div class="input-field">
{{ form_label(form.city) }}
{{ form_widget(form.city) }}
</div>

<div class="input-field">
{{ form_row(form.content) }}
</div>



<div class="input-field">

      

        {{ form_row(form.date) }}

</div>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
