{% extends 'base.html.twig' %}

{% block title %}Formations index{% endblock %}

{% block body %}
    <h1>Formations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Content</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.name }}</td>
                <td>{{ formation.city }}</td>
                <td>{{ formation.content }}</td>
                <td>{{ formation.date ? formation.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('formations_show', {'id': formation.id}) }}">show</a>
                    <a href="{{ path('formations_edit', {'id': formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('formations_new') }}">Create new</a>
{% endblock %}
