{{ form_start(form) }}
<div class="input-field">
	{{ form_label(form.name) }}
	{{ form_widget(form.name) }}
</div>

<div class="input-field">
	{{ form_row(form.content) }}
</div>

<div class="input-field">
	{{ form_row(form.picture) }}
</div>

<div class="input-field">
	<p>
		{# {% for techno in technos %} #}
		<label>
            {{ form_label(form.techno) }}
			{{ form_widget(form.techno,  { 'attr': {'class': 'filled-in'} }) }}
			{# <input type="checkbox"> #}
			<span></span>
		</label>
		{# {% endfor %} #}
	</p>
</div>

<div class="input-field">
	<button class="btn">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
