<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}{{presentations[0].name}}
		{% endblock %}
	</title>
	<!-- style -->
	<link rel="stylesheet" href="{{asset('style/style.css')}}">
	<!-- style -->
	<script src="https://kit.fontawesome.com/4d2daebcf2.js" crossorigin="anonymous"></script>
	
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<!-- JavaScript -->
	<script src="{{asset('js/script.js')}}" defer></script>

</head>

<body>
	<main class="row admin">
		<div class="admin1 col l2 m4 s4">
			<nav class="nav">
				<div class="side-nav">
					<a href="{{path ('admin')}}" class="brand-logo">Logo</a>
					<ul id="" class="">
						<li>
							<a href="{{path ('admin_presentation_index')}}">Qui suis-je?</a>
						</li>
						<li>
							<a href="{{path ('admin_competences_index')}}">Mes compétences</a>
						</li>
						<li>
							<a href="{{path ('admin_formations_index')}}">Ma formation</a>
						</li>
						<li>
							<a href="{{path ('admin_projects_index')}}">Mes réalisations</a>
						</li>
						<li>
							<a href="{{path ('admin_technos_index')}}">technos</a>
						</li>
						<li>
							<a href="{{path ('home')}}">Retour au site</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>

		<section class="example-wrapper col l10 m8 s8">
			{% block body %}{% endblock %}
		</section>
	</main>
	<footer class="footer_admin">
		<div class="contact"></div>
		<div class="copyright">
			<p>Copyright 2022<i class="far fa-copyright"></i>Yann Fiolleau</p>
		</div>
	</footer>

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>