<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>
			{% block title %}{% endblock %}
		</title>
		<!-- style -->
		<link
		rel="stylesheet" href="{{asset('style/style.css')}}">
		<!-- style -->
		<script src="https://kit.fontawesome.com/4d2daebcf2.js" crossorigin="anonymous"></script>

		<!-- Jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		
		<!-- librairie type js -->
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<!-- JavaScript -->
		<script src="{{asset('js/script.js')}}" defer></script>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav>
			<div class="navbar-fixed">
				<a href="#" class="brand-logo">Logo</a>
				{% if app.user %}
					<div class="connect">
						<a href="{{path ('admin')}}" class="brand-logo">Admin</a>
					</div>
				{% endif %}

				<ul id="nav-mobile" class="right hide-on-med-and-down">

					<li>
						<a href="#">Mes appétences</a>
					</li>
					<li>
						<a href="#">Ma formation</a>
					</li>
					<li>
						<a href="#">Mes réalisations</a>
					</li>
					<li>
						<a href="#">contact</a>
					</li>
				</ul>
			</div>
		</nav>
		{% block body %}{% endblock %}
		<footer>
			<div class="contact"></div>
			<div class="copyright">
				<p>Copyright 2022<i class="far fa-copyright"></i>Yann Fiolleau</p>
			</div>
		</footer>

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>
